*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(274deg 82% 23%) 11%,
  hsl(290deg 55% 29%) 22%,
  hsl(307deg 39% 37%) 33%,
  hsl(319deg 30% 47%) 44%,
  hsl(330deg 30% 57%) 56%,
  hsl(339deg 32% 66%) 67%,
  hsl(346deg 33% 75%) 78%,
  hsl(353deg 31% 83%) 89%,
  hsl(0deg 16% 92%) 100%
);
}

#conteneur{
    border: 2px solid rgb(202, 72, 204);
    display: flex;
    justify-content: center;
    height: 450px;
    width: 30%;
    margin-top: 100px;
    align-items: center;
}

a{
    color: black;
    border: 2px solid black;
    padding: 10px;
    background-color: blanchedalmond;
}

a:hover{
    color: white;
    background-color: blueviolet;
}